<div class="body">
  <!-- Toolbar -->
  <div class="toolbar" role="banner">
    <div class="title">
      <img class="title__logo" alt="Logo" src="assets/img/weather.png" />
      <div class="title__heading">Weather 9</div>
    </div>
    <div class="search">
      <input type="text" class="search__input" id="one" />
      <button class="search__btn" (click)="TrySearch()"><img sizes="12" src="assets/img/loupe.png" alt=""></button>
    </div>
  </div>

  <!-- Content -->
  <div class="content" role="main">
    <div class="box">
      <div class="date">{{digit}}, {{month}} {{year}}</div>
      <div class="location">
        <img class="location__logo" src="assets/img/location.svg" alt="">
        <div class="location__city">{{city}},</div>
        <div class="location__country">{{country}}</div>
      </div>
      <img class="world" src="assets/img/world.svg" alt="">
      <img class="weather-icon" id="w_icon" src="assets/img/12.png" alt="">
      <div class="weather">
        <div class="weather__condition">{{condition}}</div>
        <div class="weather__temperature">{{temperature}}&deg;</div>
        <div class="weather__detail">
          <div class="row">
            <div class="cell">
              <img class="cell__svg" src="assets/img/humidity.svg" alt="">
              <div class="cell__value">{{humidity}}</div>
              <div class="cell__title">Humidity</div>
            </div>
            <div class="cell">
              <img class="cell__svg" src="assets/img/wind.svg" alt="">
              <div class="cell__value">{{wind}}</div>
              <div class="cell__title">Wind Speed</div>
            </div>
          </div>
          <div class="row" style="margin-top: 10px;">
            <div class="cell">
              <img class="cell__svg" src="assets/img/pressure.svg" alt="">
              <div class="cell__value">{{pressure}}</div>
              <div class="cell__title">Pressure</div>
            </div>
            <div class="cell">
              <img class="cell__svg" src="assets/img/visiblity.svg" alt="">
              <div class="cell__value">{{visibility}}</div>
              <div class="cell__title">Visiblity</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<router-outlet></router-outlet>