.body {
  padding: 0;
  margin: 0;
  height: max-content;
  width: 100%;
  font-family: "Jost", sans-serif;
  background-color: #212121;

  .toolbar {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    align-content: center;
    align-items: center;

    .title {
      color: #efefef;
      display: flex;
      align-content: center;
      width: 150px;

      //   &__logo {
      //     width: 36px;
      //     height: px;
      //   }

      &__heading {
        margin-left: 10px;
        font-size: 22px;
        width: fit-content;
      }
    }

    .search {
      &__input {
        background-color: transparent;
        outline: none;
        border: none;
        border-bottom: solid 1px #efefef;
        color: #efefef;
      }

      &__btn {
        background-color: transparent;
        outline: none;
        border: none;
      }
    }
  }

  .content {
    width: 100%;
    height: 604px;
    padding: 25px;

    .box {
      height: 100%;
      width: 350px;
      background-color: #101014;
      border-radius: 40px;
      color: #efefef;
      padding: 25px;

      .date {
        font-size: 12px;
      }

      .location {
        display: flex;
        flex-direction: row;
        color: #efefef;
        margin-top: 5px;

        &__logo {
          width: 12px;
          height: 12px;
          margin-top: 4px;
        }

        &__city {
          font-size: 12px;
          font-weight: 800;
          margin-left: 4px;
        }

        &__country {
          font-size: 12px;
          font-weight: 200;
          margin-left: 4px;
        }
      }

      .world {
        margin-top: 50px;
        width: 100%;
        height: 190px;
        z-index: 1;
      }

      .weather-icon {
        align-self: center;
        z-index: 2;
        margin-top: -190px;
        margin-left: 38%;
        max-height: 90px;
        height: auto;
      }

      .weather {
        color: #efefef;
        text-align: center;
        width: 100%;

        &__condition {
          font-size: 14px;
          font-weight: bold;
          margin-top: -50px;
        }

        &__temperature {
          font-size: 72px;
          font-weight: bolder;
          margin-top: -5px;
        }

        &__detail {
          width: 100%;
          height: 125px;
          border-radius: 15px;
          background-color: #282828;
          padding: 20px;
          margin-top: 20px;

          .row {
            display: flex;
            flex-direction: row;
            height: 50%;

            .cell {
              display: flex;
              flex-direction: column;
              width: 50%;
              height: 60px;
              text-align: center;

              &__svg {
                margin-left: 45%;
                width: 16px;
                height: 16px;
              }

              &__value {
                margin-top: 5px;
                font-size: 14px;
                color: #f6f6f6;
              }

              &__title {
                font-size: 10px;
                color: #898989;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .body {
    .toolbar {
      height: 40px !important;
      align-items: unset !important;

      .title {
        width: 92px;

        &__heading {
          font-size: 14px !important;
        }
      }

      .search {
        display: flex;
        flex-direction: row;

        &__input {
          height: 20px;
          width: 80px;
          font-size: 12px;
        }
      }
    }

    .content {
      width: 100% !important;
      height: calc(100vh - 40px) !important;
      padding: 0 !important;

      .box {
        width: 100% !important;
        border-radius: 0 !important;
        padding: 15px !important;

        .world {
          height: 30vh !important;
        }

        .weather-icon {
          margin-top: -220px !important;
        }

        .weather {
          &__detail {
            margin-top: 20px;
            height: 25vh !important;
          }
        }
      }
    }
  }
}
